@model QuinxoWebApp.Models.Game

@{
    ViewData["Title"] = "Partida";
    var mode = Model.Mode;
}

<h1>Partida #@Model.Id</h1>

<h3>Modo: @(mode == 1 ? "2 jugadores" : "4 jugadores")</h3>

<hr />

<div>
    <H4>Jugadores:</H4>
    <div class="d-flex justify-content-center">
        <ul>
            @foreach (var gp in Model.GamePlayers.OrderBy(x => x.Order))
            {
                <li>@gp.Order - @gp.Player!.Name (@gp.Team)</li>
            }
        </ul>
    </div>
</div>


<!-- Reloj -->
<div style="font-size:32px; font-weight:bold;" id="gameTimer">00:00:00</div>
<hr />
<h3 id="turnLabel" class="mt-3 mb-3 text-primary" style="font-weight:bold;">
    Turno actual:
</h3>

<!-- Tablero -->
<div id="board" >
    @for (int r = 0; r < 5; r++)
    {
        for (int c = 0; c < 5; c++)
        {
            <div class="cube"
                 data-row="@r"
                 data-col="@c"
                 id="CubeLabel">
                N
            </div>
        }
    }
</div>

<hr />

<div class="d-flex justify-content-center">
    <button class="btn btn-danger" id="resetGame">Reiniciar partida</button>
</div>


<script src="/js/game.js"></script>

<script>
    window.GAME_ID = @Model.Id;
    window.MODE = @Model.Mode;

    window.PLAYERS = [
        @foreach (var gp in Model.GamePlayers.OrderBy(x => x.Order))
        {
            @: { id: @gp.PlayerId, name: "@gp.Player!.Name", order: @gp.Order, team: "@gp.Team" },
        }
    ];
</script>

<script>
    window.GAME_ID = @Model.Id;
    window.MODE = @Model.Mode;

    window.PLAYERS = [
        @foreach (var gp in Model.GamePlayers.OrderBy(x => x.Order))
        {
            @: { id: @gp.PlayerId, name: "@gp.Player!.Name", order: @gp.Order, team: "@gp.Team" },
        }
    ];
</script>